*{
  margin: 0;
}

html {
  font-family: sans-serif;
}

main{
  position: relative;
}

.hero-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.image-block{
  position: absolute;
  top: 288px;
  right: 530px;
  left: 245px;
  bottom: 385px;
  background-color: white;
}
