*{
  margin: 0;
}

html {
  font-family: sans-serif;
}

.parent{
  position: relative;
}

.hero-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-width: 1024px;
}

.button-invis{
  position: absolute;
  top: 300px;
  left: 10px;
}

a{
  text-decoration: none;
  color: #FFF;
}
